<div class="wrapper">
  <% if current_player %>
  <%= current_player.email %> | <%= link_to "Sign out", '/signout', :id => "sign_out" %>  
  <%= link_to "Start Game", levels_path, :id => "start"%>
  <h2>Name: <%= @player.name %></h2>
  <h2>Power:<%= @player.power %></h2>
  <h2>Health: <%= @player.health %></h2>
  <h2>Weapon:<img src="<%= @player.weapon.img %>" alt=""></h2>

  <% else %>
  <div class="sign_up">
    <%= link_to "Start Your Adventure", '/signup', :id => "sign_up"%>
  </div>
<div class="title">
  <h1>The Core</h1>
</div>
  <div class="sign_in">
    <%= link_to "Continue Your Journey", '/signin', :id => "sign_in" %>
    <% end %>

  </div>

</div>

  <div class="flame">
    <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/06c9396a-128b-42a2-9d0c-9a9520a8e641/d7y80ip-d0f7323d-14ec-4c57-9991-65646e346e41.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzA2YzkzOTZhLTEyOGItNDJhMi05ZDBjLTlhOTUyMGE4ZTY0MVwvZDd5ODBpcC1kMGY3MzIzZC0xNGVjLTRjNTctOTk5MS02NTY0NmUzNDZlNDEuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.NEgGau1BgS8GnE0P1LxNpWjXFfH-aOtyXlDEZxITppI" alt="">

  </div>
