<p id="notice"><%= notice %></p>

<h1>Levels</h1>



<%= link_to 'North', level_path(@north.id) %>
<br>
<%= link_to 'South', level_path(@south.id) %>
<br>
<%= link_to 'East', level_path(@east.id) %>
<br>
<%= link_to 'West', level_path(@west.id) %>
